html, body {
    margin: 0;
    padding: 0;
    background-color: #1B1924;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 36px;
    margin-right: 36px;
    margin-top: 50px;
    text-align: center;
    /* align-items: center; */
    gap: 12px;
}

img {
    height: 90px;
    width: 90px;
    margin: 0 auto;;
}

h1 {
    font-size: 25px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

textarea {
    background-color: #444059;
    border-radius: 8px;
    border: none;
    padding: 12px 16px;
    resize: none;
    height: 118px;
    color: #FFFFFF;
}

button {
    color: #04131C;
    background-color: #28A9F1;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 700;
    padding: 16px;
    
}

textarea, button {
    width: 100%;
    cursor: pointer;
}

ul {
    text-align: start;
}
