html, body {
    margin: 0;
    padding: 0;
    background-color: #1B1924;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    user-select: none;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 36px;
    margin-right: 36px;
    margin-top: 50px;
    text-align: center;
    gap: 12px;
}

img {
    height: 90px;
    width: 90px;
    margin: 0 auto;;
}

h1 {
    font-size: 25px;
    font-weight: 700;
}

h4 {
    margin: 0;
    font-size: 14px;
}

h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
}

textarea,
.to-from-input {
    background-color: #444059;
    border-radius: 8px;
    border: none;
    padding: 12px 16px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    outline: none;
}

textarea {
    resize: none;
    height: 118px;
}

button {
    color: #04131C;
    background-color: #28A9F1;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 700;
    padding: 16px;
    
}

button:hover {
    background-color: #0369A1;
}

textarea, button {
    width: 100%;
    cursor: pointer;
}

ul {
    text-align: start;
    padding: 0;
    list-style: none;
}

ul li {
    padding: 12px 16px;
    color: #1B1924;
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    margin-bottom: 13px;
    cursor: pointer;
}

p {
    line-height: 20px;
    font-size: 14px;
}

.input-container {
    overflow: none;
    display: flex;
    gap: 10px;
}

.to-from-input {
    width: 100%;
    text-align: center;
}



